*{
    font-family: 'Roboto', sans-serif;
}
/* Color variables */
:root{
    --blue-dark: #0084b4;
    --blue-main: #1da1f2;
    --blue-light: #76c5f5;
    --blue-minim: #e8f5fd;
    --blue-white: #f9f8f8;
}

/* Main */
main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

/* Login */
.login{
    width: 400px;
    margin: 0 auto;
    padding: 1rem;
}
.login i{
    font-size: 2.5rem;
    color: var(--blue-main);
}
.login h3{
    text-align: left;
    font-size: 2rem;
}
.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form input{
    border: 1px solid var(--blue-light);
    border-radius: 3px;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
}
.login form input[type="submit"]{
    border-radius: 30px;
    background-color: var(--blue-light);
    color: white;
    font-size: 1.2rem;
}
.login a{
    padding-top: 1rem;
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--blue-main);
}

/* Settings */
.settings ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.settings ul li{
    padding: 1rem;
    font-size: 1.3rem;
}
.settings ul li a{
    text-decoration: none;
    color: black;
}
.settings ul li i{
    color: var(--blue-main);
    padding-right: 0.7rem;
}

/* Feed */
.feed, .profile{
    padding: 0.5rem;
    border-right: 1px solid var(--blue-light);
    border-left: 1px solid var(--blue-light);
}
.feed h3{
    font-size: 2rem;
}
.feed article{
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 20px solid var(--blue-minim);
}
.feed article form{
    padding:  0 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.feed article form textarea{
    resize: none;
    width: 100%;
    border: 0;
}
.feed article form input[type="submit"]{
    border: 1px solid var(--blue-main);
    width: 150px;
    height: 45px;
    margin-top: 1rem;
    border-radius: 30px;
    background-color: var(--blue-main);
    color: white;
    font-size: 1.2rem;
    align-self: flex-end;
}
.feed ul, .profile article:nth-child(4) ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.feed ul li, .profile article:nth-child(4) ul li{
    border-bottom: 1px solid var(--blue-minim);
    display: grid;
    grid-template-columns: 70px 1fr;
    justify-items: center;
    padding-top: 1rem;
}
.feed figure, .profile article:nth-child(4) figure{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.feed figure img, .profile figure img, .profile article:nth-child(4) figure img{
    border-radius: 50%;
}
.feed ul li div, .profile article:nth-child(4) ul li div{
    padding-left: 0.8rem;
    width: 100%;
}
.feed ul li div h5, .profile article:nth-child(4) ul li div h5{
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}
.feed ul li div h5 span, .profile article:nth-child(4) ul li div h5 span{
    color: var(--blue-light);
}

/* Profile */
.profile figure{
    width: 130px;
    height: 130px;
}
.profile form input[type="submit"]{
    border: 1px solid var(--blue-main);
    width: 150px;
    height: 45px;
    margin-top: 1rem;
    border-radius: 30px;
    background-color: white;
    color: var(--blue-main);
    font-size: 1.2rem;
}
.profile article:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.profile h5{
    margin: 0;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.profile span{
    color: var(--blue-main)
}
.profile article:nth-child(3) ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 2rem;
    color: var(--blue-main);
    font-weight: bold;
    display: flex;
}
.profile article:nth-child(3) ul li{
    border-bottom: 3px solid var(--blue-main);
    padding: 0 1rem;
    cursor: pointer;
}
.profile article:nth-child(4) h5{
    padding: 0;
}