{% extends 'base.html' %}

{% block head_content %}
<title>Feed</title>
{% endblock  %}

{% block container %}
<section class="feed">
    <h3>Home</h3>
    <ul>
        {% for tweet in tweets  %}
        <li>
            <figure>
                <img src="{{ tweet.user.profile.picture.url }}" alt="" width="100%" height="100%">
            </figure>

            <div>
                {% if tweet.retweet != None %}
                <small>{{ tweet.user.username }} Retweeted</small>
                {% endif %}
                <h5>
                    {{ tweet.user.first_name }} 
                    <span>@{{ tweet.user.username }}</span> 
                </h5>
                <p>{{ tweet.text }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock  %}